.results {
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    padding: 2rem 5rem;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}