@import url("https://uilight.netlify.app/main.css");

:root {
  --bg-color: #3a3b89;
  --primary-color: #21224e;
  --secondary-color: #9f4393;
  --accent-color: #3a3b89;
  --text-color-primary: #f8f7f8;
  --green-badge: #22c55e;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}